svg {
  margin-right: 8px;
  transform: rotate(180deg);
}
.sort {
  margin-top: 55px;
  font-size: 25px;
}

select {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0;
  overflow: hidden;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  color: orange;
  display: inline-block;
  margin-left: 5px;
}

option {
  font-weight: normal;
  display: inline-block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  background-color: white;
}


